.artist {
  &__header {
    display: flex;
    align-items: center;
    padding: 2rem 0;

    @media ($mobile) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__img {
    width: 240px;
    height: 240px;
    margin-right: 2rem;

    @media ($mobile) {
      flex-shrink: 0;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 50%;
      box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    }
  }
}
