.header {
  background: $white;
  height: 6rem;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  //   position: sticky;
  top: 0;
  z-index: 1;

  .container {
    display: flex;
    height: 100%;
  }

  &__logo {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: black;
    text-decoration: none;

    img {
      max-width: 4.5rem;
      max-height: 4.5rem;
    }
  }

  &__menu-toggler {
    margin-right: 2rem;
    display: none !important;
  }
}
