.sidebar {
  flex-basis: 27rem;
  padding: 2rem 0;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
  background: $white;
  margin: 2rem 0;
  border-radius: 0.6rem;

  @media ($mobile) {
    position: fixed;
    width: 100%;
    margin: 0;
    left: 0;
    transform: translateY(-150%);
    transition: transform 0.3s;
    z-index: 2;
    overflow: auto;
    max-height: calc(100vh - 6rem);

    &.is-active {
      transform: translateY(0);
    }
  }

  &__item {
    height: 5.6rem;
    position: relative;

    a {
      display: flex;
      align-items: center;
      height: 100%;
      padding-left: 2rem;
      color: inherit;
      text-decoration: none;
      font-size: 1.4rem;
      font-weight: bold;
    }

    &:after {
      content: '';
      position: absolute;
      height: 1px;
      background: #e0e7ed;
      right: 0;
      width: calc(100% - 7rem);
    }
  }

  &__icon {
    height: 4rem;
    width: 4rem;
    margin-right: 1rem;

    img {
      border-radius: 0.6rem;
    }
  }

  .router-link-exact-active {
    &:before {
      content: '';
      background: $primary;
      position: absolute;
      height: 100%;
      width: 3px;
      left: 0;
      top: 0;
      display: block;
    }
  }

  &__banner {
    margin-top: 3rem;
    padding: 2rem 0;
    text-align: center;
  }
}
