$container-width: 1170px;

/* COLORS */
$black: #000;
$white: #fff;

$main: #212121;
$main-light: #757575;

$primary: #0062f6;
$primary-light: #b2dfdb;

$secondary-dark: #eba500;
$secondary: #feb811;

$error: #fe202f;

/* MEDIA QUERIES */
$tablet: unquote('max-width: 1200px');
$mobile: unquote('max-width: 767px');

$onlydesk: unquote('min-width: 1280px');
